importFrom(magrittr,"%>%")
importFrom(future,"%<-%")
importFrom(future,multiprocess)
importFrom(future,sequential)
importFrom(future,tweak)
import(dplyr)
import(ggplot2)
export(searh_gbif_data)
export(biaslayer)
export(bin_model)
export(binomial_test)
export(clean_dup)
export(confu_mat_optim)
export(correlation_finder)
export(cov_center)
export(ellipsoid_cluster_plot_3d)
export(ellipsoid_omr)
export(ellipsoid_selection)
export(inEllipsoid)
export(pROC)
export(ellipsoidfit)
export(exdet_univar)
export(exdet_multvar)
export(get_chelsa)
export(maxent_call)
export(mop)
export(nc)
export(ntb_mess)
export(occs_history)
export(omission_rate)
export(rlayers_ntb)
export(sample_envbg)
export(spca)
export(swd_format)
useDynLib(ntbbox)
